.home {
  margin: 0;
}

.conteudo_detalhes {
  display: flex;
  padding: 20px;
  gap: 20px;
  font-family: "Raleway", sans-serif;
  height: 2000px;
}

.imagens {
  width: 50vw;
}

.conteudo_detalhes img {
  width: 40vw;
}

.conteudo_detalhes .texto_detalhes p:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: bold;
}

.conteudo_detalhes .texto_detalhes p:nth-of-type(2) {
  font-size: 1.1rem;
}

.conteudo_detalhes .texto_detalhes p:nth-of-type(3) {
  font-size: 0.75rem;
  font-weight: 300;
}

.conteudo_detalhes .texto_detalhes p:nth-of-type(4) {
  font-size: 1.75rem;
  font-weight: bold;
}

.conteudo_detalhes .texto_detalhes p:nth-of-type(5) {
  font-weight: 400;
}

.conteudo_detalhes .texto_detalhes p:nth-of-type(6) {
  margin-top: 40px;
}

.dark {
  background-color: #1d201f;
  color: #fff;
}

.light {
  background-color: #fff;
}

.container_formModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  width: 70vw;
  padding: 20px;
}

.container_formModal h3 {
  font-size: 1.5em;
  margin-bottom: 2px;
}

.container_formModal p {
  font-size: 1.2em;
  align-self: flex-start;
}

.container_formModal input,
textarea {
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
  border: 0;
  border: 1px solid #3b9e68;
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
}

.container_formModal textarea {
  resize: none;
  height: 100px;
}

.container_formModal .divInterna {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-evenly;
}

.container_formModal .divInterna div {
  display: flex;
  flex-direction: column;
}

.container_formModal .botoes {
  display: flex;
  gap: 10px;
}

.container_formModal button:first-child {
  background-color: #3b9e68;
  border: 0;
  font-size: 1.2em;
  padding: 7px 20px;
  border-radius: 10px;
  color: #fff;
}

.container_formModal button:last-child {
  background-color: transparent;
  border: 1px solid #3b9e68;
  color: #3b9e68;
  font-size: 1.2em;
  padding: 7px 20px;
  border-radius: 10px;
}

.container_formModal span {
  color: #ad2222;
  font-size: 0.8em;
  align-self: flex-start;
}

@media (min-width: 700px) {
  .imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_formModal button:hover {
    cursor: pointer;
    background-color: #b7ebd4;
  }

  .container_formModal {
    max-width: 700px;
  }
}